@use "src/styles/variables" as *;
@use "src/styles/animations" as *;
@use "src/styles/mixins" as *;

.text {
  text-align: center;
  margin: 10px 5px;
  font-size: $big;
  line-height: 1.5rem;
  &__cursor {
    border-left: 0.1em solid $blue;
    animation: blink 0.7s steps(1) infinite;
  }
  &__current-text {
    color: $blue;
    letter-spacing: 1px;
  }
  @include smMinBreakPoint {
    font-size: $h3;
    text-align: left;
  }
}
