@use "src/styles/variables" as *;
@use "src/styles/animations" as *;
@use "src/styles/mixins" as *;

.menu-button {
  background-color: transparent;
  border: none;
  position: fixed;
  z-index: 3;
  right: 10px;
  top: 10px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  &__icon {
    font-size: 28px;
    transition: all 0.4s;
    border-radius: 50px;
    padding: 5px;
    &_active {
      background-color: $blue;
      color: $white;
    }
  }
  @include lgMinBreakPoint {
    display: none;
  }
}

.menu {
  background-color: $white;
  position: fixed;
  top: 0;
  left: -300%;
  width: 300px;
  height: 100%;
  z-index: 3;
  transition: all 0.5s;
  &_active {
    left: 0;
  }
  &__nav {
    height: 100%;
  }
  &__list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  &__list-item {
    width: 90%;
  }
  &__link {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: $secondaryWhite;
    border-radius: 50px;
    padding: 20px 0;
    color: $black;
    text-decoration: none;
    font-size: $small;
    transition: 0.3s;
    &_active {
      background-color: $blue;
      color: $white;
    }
  }
  &__icon {
    font-size: 20px;
    margin-left: 15px;
  }
  @include lgMinBreakPoint {
    top: 0;
    left: 0;
    background-color: transparent;
    width: 50px;
    margin-left: 10px;
    &__link {
      width: 60px;
      justify-content: center;
      &_active {
        padding: 20px 20px;
        width: max-content;
      }
    }
    &__icon {
      margin-left: 0;
      transition: 0.3s;
    }
  }
}
