@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 300px;
  }
}
@keyframes slide-out {
  0% {
    width: 300px;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes heroAppearing {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
