// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$white: hsl(0deg, 0%, 100%);
$secondaryWhite: hsl(220deg 13% 95%);

$gray: hsl(235deg, 7%, 68%);
$secondaryGray: hsl(233deg, 7%, 47%);

$black: hsl(210deg 14% 31%);
$secondaryBlack: hsl(229deg, 20%, 16%);

$blue: hsl(209deg 95% 38%);
$secondaryBlue: hsl(208deg 100% 97%);

$titleColor: hsl(215deg, 65%, 26%);

$textColor: hsl(210deg, 3%, 16%);

// font-sizes

$h3: 1.625rem; // 26px
$big: 1.25rem; // 20px
$h4: 1.125rem; // 18px
$standard: 1rem;
$small: 0.9375rem; // 15px
$extra-small: 0.8125rem; // 13px
:export {
  screen-sm: $screen-sm;
  screen-md: $screen-md;
  screen-lg: $screen-lg;
  screen-xl: $screen-xl;
  screen-xxl: $screen-xxl;
  screen-full: $screen-full;
}
