@use "src/styles/variables.module" as *;
@use "src/styles/animations" as *;

.home {
  background-image: url("../../../../static/home-img.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: top center;
  background-position-y: 10px;
  height: 100vh;
  background-color: $secondaryWhite;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__title {
    color: $black;
    margin: 0 auto;
    text-align: center;
  }
  &__animation-wrapper {
    animation: homeAppearing 1s forwards ease-in-out;
  }
}
