@use "src/styles/variables.module" as *;
@use "src/styles/animations" as *;

.home {
  position: relative;
  height: 100vh;
  background-color: $secondaryBlue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  &__title {
    color: $black;
    margin: 0 auto;
    text-align: center;
  }
  &__animation-wrapper {
    animation: homeAppearing 1s forwards ease-in-out;
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: -40px;
    width: 130%;
    height: 90px;
    background-color: $white;
    filter: blur(20px);
  }
}
