@use "src/styles/variables.module" as *;
@use "src/styles/mixins" as *;

.about {
  &__profile {
    width: 50%;
    display: block;
    margin: 1rem auto;
    border-radius: 50%;
  }
  &__title {
    color: $darkGray;
    margin-bottom: 1rem;
  }
  &__info {
    font-style: italic;
    font-family: $Open-Sans;
  }
  &__description {
    font-family: $Open-Sans;
  }
  @include mdMinBreakPoint {
    display: flex;
    align-items: center;
    gap: 10px;
    &__profile {
      width: 33.3%;
      margin: 0 1rem 0 0;
    }
  }
}
