@use "src/styles/variables.module" as *;
@use "src/styles/mixins" as *;

.about {
  &__profile {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
  }
  &__title {
    color: $secondaryGray;
    margin-bottom: 1rem;
  }
  &__info {
    font-style: italic;
    font-family: $Open-Sans;
  }
  &__description {
    font-family: $Open-Sans;
  }
  @include mdMinBreakPoint {
    display: flex;
    gap: 10px;
    &__profile {
      width: 33.3%;
    }
  }
}
