@use "src/styles/variables" as *;
@use "src/styles/mixins" as *;

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  &__icon {
    font-size: 25px;
    color: $black;
  }
  &__link {
    padding: 10px;
  }
  @include smMinBreakPoint {
    justify-content: flex-start;
  }
}
